@keyframes asideAppear {
  from {
    left: 120%;
  }
  to {
    left: 90%;
  }
}

.aside {
  position: fixed;
  left: 120%;
  top: 80%;
  width: 10vw;
  animation: asideAppear 1.75s forwards linear;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $background;
    border-radius: 15px 0 0 15px;
    height: 15vh;
    padding: 8px;
  }
  &__paragraph {
    margin: 0;
    padding: 4px;
    font-size: 1vw;
    &--or {
      padding: 8px 0;
    }
  }
  &__link {
    color: $logo-red;
    font-weight: bold;
  }
}
