.header {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: $background;
  color: $text-white;
  display: grid;
  grid-template-areas: "logo list contact";
  grid-template-columns: 15% 1fr 15%;
  min-height: 15vh;
  width: 100%;
  &__h1 {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__span {
    font-family: "Rajdhani", sans-serif;
    padding: 0 6px;
    font-size: $font-h1;
    &--red {
      color: $logo-red;
      &::before {
        content: " ";
        display: inline-block;
        margin: 0 8px;
        width: 10px;
        height: 10px;
        background-color: $logo-blue;
      }
    }
    &--blue {
      color: $logo-blue;
    }
  }
  &__list {
    grid-area: list;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: $font-header;
    font-weight: 700;
    text-transform: uppercase;
    &Item {
      transition: color 0.5s ease-in-out;
      &:hover {
        color: $logo-blue;
        &::after {
          width: 100%;
        }
      }
      &::after {
        content: " ";
        display: block;
        width: 0%;
        background-color: $logo-red;
        height: 3px;
        transition: width 0.5s ease-in-out;
      }
    }
  }
  &__container {
    grid-area: contact;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    &--contact {
      display: flex;
      flex-direction: column;
    }
    &--language {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__link {
    &--logo {
      display: flex;
      flex-direction: row;
      font-size: 52px;
    }
  }
  &__button {
    &--active {
      color: $logo-blue;
    }
    &--unactive {
      color: $text-white;
    }
    &--language {
      transition: color 0.5s ease-in-out;
      text-transform: uppercase;
      margin: 8px;
      font-size: $font-header;
      font-weight: 700;
      &::after {
        content: " ";
        display: block;
        width: 0%;
        background-color: $logo-red;
        height: 3px;
        transition: width 0.5s ease-in-out;
      }
      &:hover {
        color: $logo-blue;
        &::after {
          width: 100%;
        }
      }
    }
  }
}
