.section {
  &__span {
    font-size: 48px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    padding: 0 0 0 64px;
  }
  &--logo {
    //background-image: url("/src/assets/img/logo_background.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    font-size: 80px;
    font-weight: 700;
    font-family: "Rajdhani", sans-serif;
    padding: 48px 0;
    &::before {
      content: " ";
      margin: 8px 0;
      position: relative;
      left: -40px;
      width: 30%;
      height: 5px;
      background-color: $logo-red;
    }
    &::after {
      content: " ";
      margin: 8px 0;
      position: relative;
      left: 40px;
      width: 30%;
      height: 5px;
      background-color: $logo-blue;
    }
  }
}
