.section {
  &--links {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin: 64px 48px;
  }
  // &--analysis {
  //   background-image: url("/src/assets/img/analizy.png");
  // }
  // &--research {
  //   background-image: url("/src/assets/img/badania.png");
  // }
  // &--products {
  //   background-image: url("/src/assets/img/produkty.png");
  // }
}
