.section {
  &--partners {
    margin: 64px 0 0 0;
    padding: 32px 0 64px 0;
  }
  &__h2--partners {
    margin: 0 40%;
    border-radius: 15px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__image--partners {
    width: auto;
    height: auto;
  }
  &__container {
    margin: 32px 0 0 0;
    &--image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30%;
      padding: 8px;
    }
    &--partners {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
