.section {
  &__article {
    margin: 64px 0;
    padding: 32px 0;
    text-align: justify;
    &--research {
      display: grid;
      grid-template-areas:
        ". . research"
        "researchImg researchInfo researchInfo";
      grid-template-columns: 30% 20% 50%;
      grid-template-rows: 10vh 20vh;
    }
    &--offer {
      display: grid;
      grid-template-areas:
        "offer . ."
        "offerInfo offerInfo offerImg";
      grid-template-columns: 50% 20% 30%;
      grid-template-rows: 10vh 20vh;
    }
    &--safety {
      display: grid;
      grid-template-areas:
        ". . safety"
        "flagImg safetyInfo safetyInfo"
        "flagImg safetyPara safetyPara";
      grid-template-columns: 30% 20% 50%;
      grid-template-rows: 10vh 20vh 5vh;
    }
  }
  &--research {
    display: flex;
    flex-direction: column;
  }
  &__image {
    margin: auto;
    width: 30vh;
    &--research {
      grid-area: researchImg;
    }
    &--offer {
      grid-area: offerImg;
    }
    &--flag {
      grid-area: flagImg;
    }
  }
  &__h2 {
    background-color: $background;
    border-radius: 15px 0 0 15px;
    color: $background-main;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 0 0 24px;
    &--research {
      grid-area: research;
    }
    &--offer {
      grid-area: offer;
      border-radius: 0 15px 15px 0;
      justify-content: flex-end;
      padding: 0 24px 0 0;
    }
    &--safety {
      justify-content: center;
      grid-area: safety;
      height: 60px;
    }
  }
  &__paragraph {
    font-size: 24px;
    font-weight: 500;
    padding: 16px;
    &--researchInfo {
      grid-area: researchInfo;
    }
    &--offer {
      grid-area: offerInfo;
    }
    &--safety {
      grid-area: safetyInfo;
    }
    &--Ue {
      padding: 32px 0 0 0;
      grid-area: safetyPara;
      font-size: 28px;
      font-weight: 700;
      text-align: center;
    }
  }
}
