$background: #b1a7a6;
$background-secondary: #d3d3d3;
$background-main: #f8f9fa;
$text-white: #fafaff;
$text-black: black;
$logo-red: #d62828;
$logo-blue: #003049;
$font-h1: 3vw;
$font-h2: 1.75vw;
$font-paragraph: 1.25vw;
$font-header: 1vw;
