@import "~normalize.css";
@import "_variables";
@import "modules/header.scss";
@import "modules/research.scss";
@import "modules/mainLinks.scss";
@import "modules/logo.scss";
@import "modules/guidance.scss";
@import "modules/secondaryLinks.scss";
@import "modules/partners.scss";
@import "modules/footer.scss";
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&family=Roboto:wght@100;300;400;700&display=swap");

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.body {
  background-color: $background-secondary;
  font-family: "Cairo", sans-serif;
  &--preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none;
  }
}

.main {
  margin: 0 15%;
  min-height: 100vh;
  background-color: $background-main;
}
